@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

    :root{
        --dark-navy:hsl(216, 86%, 6%);
        --navy: hsl(216, 65%, 11%);
        --light-navy: hsl(218, 58%, 16%);
        --lightest-navy: hsl(218, 41%, 23%);
        --slate: hsl(225, 20%, 61%);
        --light-slate: hsl(225, 31%, 74%);
        --lightest-slate: hsl(226, 70%, 88%);
        --white: hsl(214, 100%, 95%);
        --green: hsl(166, 100%, 70%);
        --rgba-green: 100, 255, 218;

    }

    

    @font-face {
        src: url('../static/font/FiraCode-Light.ttf');
        font-family: 'Fira Code Light'
    }

    @font-face {
        src: url('../static/font/FiraCode-Bold.ttf');
        font-family: 'Fira Code Bold'
    }

    @font-face {
        src: url('../static/font/FiraCode-Medium.ttf');
        font-family: 'Fira Code Medium'
    }

    @font-face {
        src: url('../static/font/FiraCode-Regular.ttf');
        font-family: 'Fira Code Regular'
    }

    @font-face {
        src: url('../static/font/FiraCode-Retina.ttf');
        font-family: 'Fira Code Retina'
    }

    @font-face {
        src: url('../static/font/Calibre-Regular.ttf');
        font-family: 'Calibre Regular'
    }

    @font-face {
        src: url('../static/font/Calibre-Semibold.ttf');
        font-family: 'Calibre Semibold'
    }

    html {
        margin: 0;
        padding: 0;
        /* overflow-x: hidden; */
        scroll-behavior: smooth;
    }

    body::-webkit-scrollbar{
        width: 1rem 
    }
    

    body::-webkit-scrollbar-track{
        background: var(--navy);

    }

    body::-webkit-scrollbar-thumb{
        background: var(--slate);
        border: 0.3em solid #0a182e;
        border-radius: 100vw;

    }

    *{
        scrollbar-color:var(--slate) var(--navy) ;

    }

    body {
        background: var(--navy);
        counter-reset: section;
    }

    h1 {
        color: var(--green);
        font-family: 'Fira Code Light';
		font-size: 0.8rem;

    }

    h2 {
        color: var(--lightest-slate);
        font-family: 'Calibre Semibold';
        font-size: 2rem;
    }

    h3 {
        color: var(--slate);
        font-family: 'Calibre Semibold'; 
        font-size: 1.7rem;
    }

    h4 {
        color: var(--green);
    }

    h5 {
        color: var(--light-slate);
        font-size: 1.5rem;
    }

    a {
        color: var(--light-slate);
        font-family: 'Fira Code Light';
		font-size: 0.8rem;

    }

    p {
        color: var(--slate);
        font-family: 'Calibre Regular';
        font-size: 1.175em; 
        line-height: 1.8;
    }

    span {
        color: var(--green);
    }


    section {
        padding: 6rem 0;
        max-width: 1000px
    }

    li {
        font-family: Fira Code Regular;
        color: var(--slate)
    }

    .numbered-heading {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        position: relative;
        margin: 1rem 0 2.5rem; 
        widht: 100%;
        white-space: nowrap;
    }
    
    .numbered-heading::before {
        position: relative;
        counter-increment: section 1;
        content: "0" counter(section) ".";
        color: var(--green);
        font-family: 'Fira Code Light';
        font-size: 1.2rem;
        margin-right: 1rem;
    }

    .numbered-heading::after {
        content: "";
        display: block;
        position: relative;
        top: -5px;
        width: 300px;
        height: 1px;
        margin-left: 1.2rem;
        background: var(--slate);
    }

    @media (min-width: 1024px) {
        .numbered-heading::after {
           
        }
    }

    @media(max-width: 768px){
		.numbered-heading::after {
            width: 100%;
        }
	}

    

}